@charset "UTF-8"; 
body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    }
h1 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    }
h2 { 
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px; 
    }
h3 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px; 
    }
table {
    font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    border: 1px solid black; 
    border-collapse: 
    collapse; font-size: 10pt;
    }
table th {
    border: 1px solid black; 
    background: #dddddd; 
    padding: 5px; 
    color: #000000;
    }
table td {
    border: 1px solid black; 
    padding: 5px; 
    }
table td.pass {
    background: #7FFF00;
    }
table td.warn {
    background: #FFE600;
    }
table td.fail {
    background: #FF0000; color: #ffffff;
    }
table td.info {
    background: #85D4FF;
    }
.error {
    background: #FF0000; color: #ffffff;
    }
.danger {background-color: red}
.warn {background-color: yellow}
.ok {background-color: green}